body {
  margin: 0;
}

.topbar {
  display: flex;
  padding: 36px 12px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
}

.logo {
  width: auto;
}

.logo---esat {
  width: 91px;
}

.logo---id3 {
  width: 170px;
}

.hero {
  background-image: url(images/background-image.jpg);
  height: 100vh;
  padding-bottom: 36px;
}

.hero__content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
}

.hero__title {
  font-family: Inter, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #ef7d00;
  margin: 0;
}

.hero__subtitle {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.hero__text {
  font-family: Inter, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: white;
  margin: 0;
}

.btn {
  background-color: #ef7d00;
  font-family: Inter, sans-serif;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  margin-top: 12px;
}

.section {
  padding: 48px 12px;
}

.section__content {
  margin-bottom: 34px;
}

.section__title {
  font-size: 48px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  line-height: 47px;
  margin-bottom: 12px;
}

.highlight---black {
  color: black;
}

.highlight---orange {
  color: #ef7d00;
}

.design-dev__text {
  color: black;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 22px;
}

.section__media {
  background-color: #333;
  border-radius: 7.52px;
  margin: 0 12px;
}

.media__info {
  padding: 16px;
}

.media__label {
  color: #ef7d00;
  font-size: 10px;
  font-weight: 300;
}

.media__author {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.media__image {
  text-align: center;
}

.carousel {
  text-align: right;
  padding-bottom: 24px;
}

.btn---carousel {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #333;
}

.btn---right {
  margin-left: 24px;
}

.section---projects {
  background-color: #eef0f5;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 72px;
}

.projects__text {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 58px;
}

.section__title---formation {
  margin-bottom: 58px;
}

.info-block__title {
  color: #3c3c3c;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.info-block__text {
  color: #3c3c3c;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0px;
}

.display-inline-block {
  display: inline-block;
  vertical-align: top;
}

.info-block img {
  max-width: 20%;
  margin-right: 16px;
}

.info-block__content {
  max-width: 80%;
  margin-bottom: 48px;
}

.img__section {
  width: 100%;
  max-width: 100%;
  margin-bottom: 72px;
}

.section---info {
  background-image: url(images/background-image.jpg);
  height: 80vh;
  text-align: center;
  position: relative;
  margin-bottom: 84px;
}

.section__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el div */
  width: 80%; /* Ajusta el ancho */
}

.info__text {
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 14px;
}

.info__text--highlight {
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.btn---centered {
  display: block;
  margin: 0 auto;
}

.section---enrollment {
  padding: 0px 12px;
}

.section__title-enrollment {
  font-size: 48px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  line-height: 47px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.img__section-enrollment {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}

.img__section---teachers {
  margin-bottom: 10px;
}

.card__name {
  color: #ef7d00;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
}

.card__title {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
}

.card__text {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 10px;
}